:root{
    --vezesHover: 0;
}
html, body{
    cursor: url(img/cursor_foguete.png), auto;
    overflow: hidden;
}
.jogo {
    animation-name: gif;
    animation-duration: 5s;
    background-image: url(https://media.giphy.com/media/3og0IFrHkIglEOg8Ba/giphy.gif);
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position-y: center;
    background-attachment: fixed;
    text-justify: center;
}
@keyframes gif {
    from {
        background-image: url(https://media.giphy.com/media/3og0IFrHkIglEOg8Ba/giphy.gif);
        background-repeat: no-repeat; 
        background-size: 100%;
        background-position-y: center;
        background-attachment: fixed;
    }
    to {
        background-image: url(https://media.giphy.com/media/3og0IFrHkIglEOg8Ba/giphy.gif);
        background-repeat: no-repeat; 
        background-size: 100%;
        background-position-y: center;
        background-attachment: fixed;
    }
}
.fundo {
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
}
#asteroide {
    animation-duration: 5s;
    animation-name: asteroidezin;
}

@keyframes asteroidezin {
    from {
        width: 5%;
        height: 5%;
    }
    to {
        width: 10%;
        height: 12%;
    }
}
#et {
    animation-duration: 5s;
    animation-name: etzin;
}

@keyframes etzin {
    from {
        width: 5%;
        height: 5%;
    }
    to {
        width: 10%;
        height: 12%;
    }
}
.asteroide1 {
    width: 50px;
    height: 50px;
}
.asteroide2 {
    width: 70px;
    height: 70px;
}
.asteroide3 {
    width: 90px;
    height: 90px;
}
.asteroide4 {
    width: 110px;
    height: 110px;
}
.asteroide5 {
    width: 130px;
    height: 130px;
}
.ladoA{
    transform: scaleX(1);
}
.ladoB{
    transform: scaleX(-1);
    /*inversão da imagem*/
}
.painel{
    position: absolute;
    width: 200px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
    border-top: solid 1px white;
    background-color: white;
    opacity: 0.7;
}
.vidas {
    float: left;
}
.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}